bin/*
*.o
build/*
*/build/*
*/*.xcodeproj/* !*.xcodeproj/project.pbxproj
*.xcodeproj
.svn

.DS_Store
profile

#Stuff for ignoring automake/autoconf files!
Makefile
*.m4
config.*
configure
*.in
missing
install-sh
depcomp
stamp-h1
*.cache/*
src/.*
EF5-US-Parameters-1.0.0/*
