1 VERSIONINFO
FILEVERSION     1,2,3,0
PRODUCTVERSION  1,2,3,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Hydrometeorology and Remote Sensing Laboratory"
      VALUE "FileDescription", "Ensemble Framework For Flash Flood Forecasting"
      VALUE "FileVersion", "1.2.3"
      VALUE "InternalName", "EF5"
      VALUE "LegalCopyright", "Public Domain"
      VALUE "OriginalFilename", "EF5.exe"
      VALUE "ProductName", "EF5"
      VALUE "ProductVersion", "1.2.3"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
id ICON "../ef5.ico"

